@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --scale: 0.05vw;
  --skyblue: #ADF0FF;
  --blue: #A3D1FF;
  --bluefrost: #B8BFFF;
  --yellow: #FFD4AD;
  --purpur: #DFABFF;
  --pink: #FFB2DC;
  --coral: #FFBEBE;
  --green: #C7FFBE;
}

html {
  font-size: var(--scale);
  line-height: 1;
}

@media only screen and (max-width: 1024px) {
  :root {
    --scale: 0.0935vw;
  }
}

.topic:hover {
  color: #D4212D;
}

html {
  overflow-y: scroll;
}

.sg-task-content {
  color: white;
  justify-content: center !important;
  padding-left: 0 !important;
  width: 100%;
}

.sg-task-content {
  border-radius: 5rem;
}

.application-task .sg-task-content {
  background-color: #40BB40;
}

.application-travel .sg-task-content {
  background-color: rgb(66, 170, 255, 0.6);
}

.application-lunch .sg-task-content {
  background-color: #F19CBB;
}

.application-work .sg-task-content {
  background-color: rgb(66, 170, 255, 0.1) !important;
}

.sg-task {
  background-color: rgb(0, 0, 0, 0.0) !important;
}

:is(.vacation) {
  background: url("vacations.png") !important;
  background-size: cover !important;
  background-repeat: no-repeat !important;
  background-position: center !important;
  color: rgb(0, 0, 0, 0) !important;
}

:is(.sick-leave) {
  background: url("sick.png") !important;
  background-size: cover !important;
  background-repeat: no-repeat !important;
  background-position: center !important;
  color: black !important;
}

:is(.day-off) {
  background: url("day.png") !important;
  background-size: cover !important;
  background-repeat: no-repeat !important;
  background-position: center !important;
  color: rgb(0, 0, 0, 0) !important;
}